/* 
Author: Dante Villarreal
Date: 7/23/2021
*/

/********** Variables **********/

:root {
  --dark: #171717;
  --grey: #444444;/*#5f5f5f;*/
  --red: #DA0037;
  --light: #EDEDED;
}


/********** Container Styles **********/

body {
  margin: 0;
}

.pageContainer {
  display: flex;
  flex-flow: column;
  background-color: var(--dark);
  color: var(--light);
  min-height: 100vh;
  font-size: 1.1em;
}

.bio {
  display: flex;
  margin-top: 5%;
  color: var(--light);
  text-align: center;
}

.pageFiller {
  flex-grow: 1;

}

.hobbies {
  flex-grow: 1;
}

.wyze {
  display: flex;
  margin-bottom: 3%;
}

.wyzeDescrip {
  flex: 1;
  padding: 1%;
  padding-left: 2%;
  padding-right: 0;
}

.wyzePic {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-right: 1%;
  animation: fadein 1.05s 2.25s backwards;
  padding-left: 0;
}

img {
  width: 300px;
}

.piano {
  display: flex;
  margin-bottom: 3%;
}

.pianoDescrip {
  flex: 1;
  padding: 1%;
  padding-right: 2%;
  padding-left: 5%;
  padding-top: 5.5%;
}

.pianoPic {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0.5%;
  animation: fadein 1.05s 2.25s backwards;
}

.workout {
  display: flex;
  margin-bottom: 3%;
}

.workoutDescrip {
  flex: 1;
  padding: 1%;
  padding-left: 2%;
  padding-right: 0;
  text-align: center;
}

.workoutPic {
  flex: 1;
  display: flex;
  justify-content: center;
  animation: fadein 1.05s 2.25s backwards;
}



.projectContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-right: 25%;
  padding-left: 25%;
}

/********** Nav Styles **********/

.nav {
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  color: var(--grey)
}

.navitems {
  flex: 1;
  text-align: center;
  transition: all 0.3s;
  padding: 1%;
  border-radius: 5px;
  color: var(--grey);
}

.navitems:hover, .navitems:focus {
  outline: none;
  color: var(--light);
  animation: navItemsHover 0.25s forwards;
}

.navitems:active {
  transform: scale(.95);
}

/* made this an animation instead of just putting it on the nav just in case I want to use it somewhere else */
@keyframes navItemsHover {
  from {}
  to {box-shadow: -0.2em 0 0 var(--dark), 0.2em 0 0 var(--dark),0 0.5em 0.5em -0.4em var(--red); transform: translateY(-0.1em);}
}

/********** Header Styles **********/

h1 {
  margin-top: 8%;
  margin-bottom: 7%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  animation: fadein 1.2s 0.4s backwards, fadeInDown 1.1s 0.4s; 
  /*animation: fadein 1.2s 0.3s backwards;*/ /* this makes the h1 have the style set by the first keyframe in fadeinh1 before the animation starts so I don't have to make the h1 have an opacity of 0 */
  font-weight: 550; 
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

h2 {
  text-align: center;
  color: var(--red);
  animation: fadein 1.05s 1.4s backwards; /* same as the h1 */
}

.wyzeh2 {
  text-align: center;
  animation: fadein 2.1s 1.5s backwards, slideInLeft 1s 1.25s;
}

.pianoh2 {
  text-align: center;
  animation: fadein 2.1s 1.5s backwards, slideInRight 1s 1.25s;
}

.workouth2 {
  animation: fadein 2.1s 1.5s backwards, slideInLeft 1s 1.25s;
}

.projectsh2 {
  margin-bottom: 10%;
}

/********** Link Styles **********/

a, a:visited {
  flex: 1;
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

a:hover, a:focus, a:active{
  color: var(--light);
}

.projectLinks {
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  margin-bottom: 8%;
  border-radius: 15px;
  background-color: var(--grey);
  color: var(--dark);
  text-align: center;
  flex: 0.7;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease 0s;
  cursor: pointer;
  outline: none;
  align-self: center;
  width: 55%;
  animation: fadein 1.05s 2.4s backwards, fadeInUp 1.1s 2.4s;
}

.projectLinks:hover, .projectLinks:focus {
  background-color: var(--red);
  box-shadow: 0px 10px 20px rgba(218, 0, 55, 0.4);
  color: #fff;
  transform: translateY(-7px);
  filter: brightness(99%);
}

.projectLinks:active, .projectLinks:focus {
  transform: scale(.95);
}

/********** Paragraph Styles **********/

.bioText {
  padding: 0 14%;
  padding-top: 5%;
  animation: fadein 1.2s 2.1s backwards, fadeInUp 1.15s 2s;
}

.wyzeText {
  padding-top: 3%;
  text-align: center;
  animation: fadein 1.05s 2.25s backwards;
}

.pianoText {
  text-align: center;
  animation: fadein 1.05s 2.25s backwards;
}

.workoutText {
  text-align: center;
  animation: fadein 1.05s 2.25s backwards;
}

/********** Footer Styles **********/

footer {
  text-align: center;
  font-size: x-small;
  background-color: var(--grey);
  padding: 1%;
  margin-top: 8%;
}

/***********************************/
/********** Media Queries **********/
/***********************************/

@media screen and (min-width: 1500px) {
  .bioText {
    padding: 0 24%;
  }
}

@media screen and (min-width: 1120px){
  .nav {
    flex-flow: column;
  }

  .hobbies {
    flex-flow: column;
  }

  .wyze {
    flex-flow: column;
  }
  .wyzeText {
    padding-right: 4%;
    padding-left: 3%;
  }
  .wyzePic {
    padding-left: 1%;
    margin-left: 0;
    padding-right: 2%;
  }

  .piano {
    flex-flow: column-reverse;
    margin-top: 7%;
  }
  .pianoText {
    padding-right: 4%;
    
  }

  .workout {
    flex-flow: column;
    margin-top: 7%;
  }
  .workoutText {
    padding-right: 4.5%;
    padding-left: 3%;
  }

  .projectLinks {
    width: 85%;
  }
}
